section.user-profile {
	width: 100%;
}

section.user-profile .container-fluid {
	width: 100%;
	padding-top: 60px;
	padding-inline: 60px;
}

@media only screen and (max-width: 768px) {
	section.user-profile .container-fluid {
		width: 100%;
		padding-top: 60px;
		padding-inline: 10px;
	}
}

section.user-profile .profile {
	display: flex;
	padding-block: 40px;
}

section.user-profile .profile .profile-image .user-image img {
	width: 96px;
	height: 96px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

section.user-profile .profile .profile-details .user-fullname {
	font-family: "Lato", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0em;
	text-align: left;
}

section.user-profile .profile .profile-details .user-username {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623a3;
}

section.user-profile .profile .profile-details .user-statistic {
	display: flex;
	gap: 10px;
	padding-block: 10px;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

section.user-profile .profile .profile-details button {
	width: auto;
	padding: 8px 12px;
	justify-content: center;
	border: none;
	border-radius: 6px;
	background-color: #000;
	color: #fff;
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	text-transform: capitalize;
}

section.user-profile .main .nav-tabs {
	background-color: transparent;
}

section.user-profile .main .nav-tabs button {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
}

.message {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}
