@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Jost&family=Lato:wght@400;700&family=Manrope:wght@500;600&display=swap");
section.explore-post {
	width: 100%;
	margin-top: 40px;
	background-color: transparent;
}

section.explore-post .container-fluid {
	width: 100%;
	padding: 0px 60px 0 60px;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 768px) {
	section.explore-post .container-fluid {
		width: 100%;
		padding: 30px 20px 0 20px;
		align-items: center;
		justify-content: space-between;
	}
}

section.explore-post .container-fluid .row {
	gap: 0px;
}

section.explore-post .container-fluid .heading {
	margin-bottom: 6px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.explore-post .container-fluid .heading h1 {
	display: inline;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

section.explore-post .container-fluid .heading .icon {
	margin: -30px 0 0 0;
	padding: 0;
}

section.explore-post .nav-tabs {
	margin-block: 20px;
	background-color: transparent;
	border: none;
	gap: 20px;
}

section.explore-post .nav-tabs button.active {
	width: auto;
	padding-block: 4px;
	padding-inline: 16px;
	border-radius: 50px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	color: #fff;
	background-color: #000;
}

section.explore-post .nav-tabs button.active:hover {
	width: auto;
	padding-block: 4px;
	padding-inline: 16px;
	border-radius: 50px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	color: #fff;
	background-color: #000;
}

section.explore-post .nav-tabs button {
	width: auto;
	padding-block: 4px;
	padding-inline: 16px;
	border-radius: 50px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
}

section.explore-post .nav-tabs button:hover {
	width: auto;
	padding-block: 4px;
	padding-inline: 16px;
	border-radius: 50px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	color: #fff;
	background-color: #000;
}

/* Card */

section.explore-post .container-fluid .card {
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
	border: 1px solid #fff;
}

section.explore-post .container-fluid .card .card-image {
	width: 100%;
	height: 216px;
	padding: 0;
	background: url("https://images.pexels.com/photos/1456706/pexels-photo-1456706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	object-fit: cover;
	border-radius: 10px;
}

section.explore-post .container-fluid .card .card-image .post-detail {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 216px;
	padding: 10px;
	background-color: #000;
	opacity: 0;
	border-radius: 10px;
	z-index: 3;
}

section.explore-post .container-fluid .card .card-image .post-detail:hover {
	position: absolute;
	display: block;
	width: 100%;
	height: 216px;
	background-color: #000;
	opacity: 0.9;
	border-radius: 10px;
	z-index: 3;
}

section.explore-post .container-fluid .card .card-image .post-detail .user-detail {
	display: flex;
	align-items: center;
}

section.explore-post .container-fluid .card .card-image .post-detail .user-detail img {
	margin-right: 6px;
	width: 34px;
	height: 34px;
}

section.explore-post .container-fluid .card .card-image .post-detail .user-detail .user-firstname {
	font-family: "Jost", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

section.explore-post .container-fluid .card .card-image .post-detail .button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.explore-post .container-fluid .card .card-image .post-detail button {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
}

section.explore-post .container-fluid .card .card-image .price-detail {
	display: flex;
	justify-content: space-between;
}

section.explore-post .container-fluid .card .card-image .price-detail .label {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

section.explore-post .container-fluid .card .card-image .price-detail .value {
	font-family: "Jost", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

section.explore-post .container-fluid .card .card-image .post-detail .price-detail {
	display: flex;
}

section.explore-post .container-fluid .card img {
	width: 100%;
	height: 216px;
	border-radius: 10px;
	object-fit: cover;
}

section.explore-post .container-fluid .card .card-body {
	margin: 10px 0;
	padding: 0;
	color: #000;
}

section.explore-post .container-fluid .card .post-title {
	padding-top: 5px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

section.explore-post .container-fluid .card .post-category {
	padding-top: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}

section.explore-post .container-fluid .card .post-view {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 2px;
}

section.explore-post .container-fluid .card .post-view span {
	margin-left: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}

section.explore-post .container-fluid .explore {
	margin-top: 60px;
}

section.explore-post .container-fluid .explore h2 {
	padding-bottom: 20px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.2777777777778;
	letter-spacing: 0rem;
	background-color: #000;
}

section.explore-post .container-fluid .explore img {
	width: 100%;
	height: 500px;
	border-radius: 0;
	object-fit: cover;
}

.message span {
	color: blue;
}
