@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Jost&family=Lato:wght@400;700&family=Manrope:wght@500;600&display=swap");
/* Card */

.card {
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
	border: 1px solid #fff;
}

.card .card-image {
	width: 100%;
	height: 216px;
	padding: 0;
	background: url("https://images.pexels.com/photos/1456706/pexels-photo-1456706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	object-fit: cover;
	border-radius: 10px;
}

.card .card-image .post-detail {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 216px;
	padding: 10px;
	background-color: #000;
	opacity: 0;
	border-radius: 10px;
	z-index: 3;
}

.card .card-image .post-detail:hover {
	position: absolute;
	display: block;
	width: 100%;
	height: 216px;
	background-color: #000;
	opacity: 0.9;
	border-radius: 10px;
	z-index: 3;
}

.card .card-image .post-detail .user-detail {
	display: flex;
	align-items: center;
}

.card .card-image .post-detail .user-detail img {
	margin-right: 6px;
	width: 34px;
	height: 34px;
}

.card .card-image .post-detail .user-detail .user-firstname {
	font-family: "Jost", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

.card .card-image .post-detail .button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card .card-image .post-detail button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
}

.card .card-image .price-detail {
	display: flex;
	justify-content: space-between;
}

.card .card-image .price-detail .label {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

.card .card-image .price-detail .value {
	font-family: "Jost", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

.card .card-image .post-detail .price-detail {
	width: 100%;
	display: flex;
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
}

.card img {
	width: 100%;
	height: 216px;
	border-radius: 10px;
	object-fit: cover;
}

.card .card-body {
	margin: 10px 0;
	padding: 0;
	color: #000;
}

.card .post-title {
	padding-top: 5px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.card .post-category {
	padding-top: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}

.card .post-view {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 2px;
}

.card .post-view span {
	margin-left: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}

.explore {
	margin-top: 60px;
}

.explore h2 {
	padding-bottom: 20px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.2777777777778;
	letter-spacing: 0rem;
	background-color: #000;
}

.explore img {
	width: 100%;
	height: 500px;
	border-radius: 0;
	object-fit: cover;
}
