@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Lato:wght@400;700&family=Manrope:wght@500;600&display=swap");
nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	font-style: normal;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	z-index: 9999999;
}

@media only screen and (max-width: 768px) {
	nav {
		display: flex;
		position: fixed;
		top: 0;
		width: 100% !important;
		height: 60px;
		font-family: "ESAllianz-Regular", sans-serif;
		font-weight: 400;
		font-style: normal;
		background-color: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
		z-index: 1;
	}
}

nav .container-fluid {
	width: 100vw;
	padding: 0 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 768px) {
	nav .container-fluid {
		width: 100vw;
		padding: 0 20px 0 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

nav .nav-brand p {
	font-family: "Josefin Sans", serif;
	font-size: 17px;
	font-weight: 700;
	height: auto;
	letter-spacing: 0.38em;
	line-height: 1.4;
	text-align: center;
	width: auto;
	max-width: 100%;
	justify-content: center;
	text-transform: capitalize;
}

nav .nav-items {
	display: none;
	align-items: center;
	justify-content: flex-end;
}

nav .nav-items .item {
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	font-weight: 700;
	height: auto;
	line-height: 1.4;
	text-align: center;
	width: auto;
	max-width: 100%;
	justify-content: center;
}

nav .search .search-box {
	width: 300px;
	display: flex;
	align-items: center;
	text-align: start;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

nav .search .search-box input {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 12px;
	width: 100%;
	padding-block: 5px;
	padding-inline: 15px;
	text-align: start;
	border-radius: 4px;
	border: none;
}

nav .search .search-box .search-icon {
	margin-right: 5px;
}

nav .search .search-box input:focus {
	outline: none;
}

nav .nav-items .item:first-child {
	font-family: "ESAllianz-Regular", sans-serif;
	padding: 5px 0;
	text-align: center;
	margin-inline: 0px;
	cursor: pointer;
}

nav .nav-items .item button.upload-button {
	width: auto;
	padding: 8px 12px;
	margin: 0 30px;
	justify-content: center;
	border: none;
	border-radius: 6px;
	background-color: #000;
	color: #fff;
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	text-transform: capitalize;
}

nav .nav-items .item .user {
	display: flex;
	align-items: center;
	cursor: pointer;
}

nav .nav-items .item .user .user-profile img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

nav .nav-items .divider {
	margin-inline: 20px;
}

.link {
	text-decoration: none;
	color: #000;
}

.link:hover {
	text-decoration: none;
	color: #000;
}

.dropdown-backdrop {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	background-color: transparent;
	opacity: 0.3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9;
}

nav .nav-items .item .dropdown {
	position: fixed;
	width: 200px;
	top: 60px;
	right: 40px;
	padding: 20px;
	z-index: 9999999;
	background-color: #fff;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

nav .nav-items .item .dropdown-item .profile-image img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

nav .nav-items .item .dropdown-item .user-email {
	text-transform: lowercase;
	margin-top: 6px;
}

nav .nav-items .item .dropdown-item .button-group {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

nav .nav-items .item .dropdown-item .button-group button {
	width: 100%;
	margin-top: 4px;
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
}

/* Modal */

.modal-dialog {
	margin: 0;
	width: 430px;
	font-family: "ESAllianz-Regular", sans-serif;
}

@media (max-width: 450px) {
	.modal-dialog {
		width: 82%;
	}
}

.modal-content {
	border-radius: 0;
	height: 100vh;
	overflow-y: scroll;
	background-color: #fff;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 88%;
	margin: 0 auto;
	padding-bottom: 16px;
}

.modal .nav-brand {
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: start;
}

.modal-body {
	width: 88%;
	margin: 0 auto;
	padding: 75px 0 0 0;
	flex: unset;
}

.modal-body .modal-line {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 7px 0;
	margin-bottom: 50px;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #000;
	border-bottom: 1px solid #274d8a;
}

.modal-line .modal-item {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2.5px;
}

.modal-btn button {
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	text-align: left !important;
	border-radius: 0%;
}
