section.search {
	width: 100%;
	margin-top: 60px;
	background-color: transparent;
}

section.search .container-fluid {
	width: 100%;
	padding: 30px 60px 0 60px;
	align-items: center;
	justify-content: space-between;
}

section.search .container-fluid .heading {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.search .container-fluid .heading h1 {
	display: inline;
	color: #191919;
	font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.3;
	font-size: 1.5em;
	font-weight: bold;
}

section.search .container-fluid .card {
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
	border: 1px solid #fff;
}

/* section.explore-post .container-fluid .card:hover {
	border: 1px solid #000;
} */

section.search .container-fluid .card .card-image {
	width: 100%;
	height: 216px;
	padding: 0;
	background: url("https://images.pexels.com/photos/1456706/pexels-photo-1456706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	object-fit: cover;
	border-radius: 10px;
}

/* section.explore-post .container-fluid .card .card-image .dark-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	border-radius: 0;
	z-index: 2;
} */

section.search .container-fluid .card .card-image .post-detail {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 216px;
	color: #fff;
	background-color: #000;
	opacity: 0;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0rem;
	border-radius: 10px;
	z-index: 3;
}

section.search .container-fluid .card .card-image .post-detail:hover {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 216px;
	color: #fff;
	background-color: #000;
	opacity: 0.9;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0rem;
	border-radius: 10px;
	z-index: 3;
}

section.search .container-fluid .card img {
	width: 100%;
	height: 216px;
	border-radius: 10px;
	object-fit: cover;
}

section.search .container-fluid .card .card-body {
	margin: 10px 0;
	padding: 0;
	color: #000;
}

section.search .container-fluid .card .post-title {
	padding-top: 5px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

section.search .container-fluid .card .post-category {
	padding-top: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}

section.search .container-fluid .card .post-view {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 2px;
}

section.search .container-fluid .card .post-view span {
	margin-left: 2px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #101623;
}
