section.upload {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000a7;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999999;
}

section.upload .wrapper {
	width: 700px;
	background-color: #fff;
	padding: 20px;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	border-radius: 14px;
}

section.upload .wrapper .close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

section.upload .wrapper .heading {
	border-bottom: 1px solid #000;
}

section.upload .wrapper .heading h1 {
	margin: 0 0 20px;
	color: #000;
	text-align: left;
	font-family: "Poppins", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

section.upload .wrapper form {
	margin-top: 20px;
}

section.upload .wrapper form .input-group {
	position: relative;
	margin-bottom: 20px;
}

section.upload .wrapper form .input-group label {
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px 0;
	font-size: 12px;
	color: #000;
	pointer-events: none;
	font-family: "Manrope", sans-serif;
	letter-spacing: 0rem;
	transition: 0.3s;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-align: left;
	letter-spacing: 0rem;
}

section.upload .wrapper form .input-group input {
	width: 100%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid #eaeaea;
	outline: none;
	background: transparent;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 12px;
	letter-spacing: 0rem;
	color: #000;
}

section.upload .wrapper form .input-group input:focus {
	width: 100%;
	padding: 10px 0;
	font-size: 12px;
	color: #000;
	border: none;
	border-bottom: 1px solid #1473e6;
	outline: none;
	background: transparent;
	font-family: "ESAllianz-Regular", sans-serif;
	letter-spacing: 0rem;
}

section.upload .wrapper form .input-group input:focus ~ label,
section.upload .wrapper form .input-group input:valid ~ label {
	top: -20px;
	left: 0;
	color: #000;
	font-size: 12px;
}

input#file-upload-button {
	background-color: #1473e6 !important;
	color: red;
}

section.upload .wrapper form .input-group .upload-precentage {
	margin-top: 12px;
	pointer-events: none;
	font-size: 12px;
	font-family: "Manrope", sans-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-align: left;
	letter-spacing: 0rem;
}

section.upload .wrapper form .input-group textarea {
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: #000;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #eaeaea;
	outline: none;
	background: transparent;
	font-family: "ESAllianz-Regular", sans-serif;
	letter-spacing: 0rem;
}

section.upload .wrapper form .input-group textarea:focus ~ label,
section.upload .wrapper form .input-group textarea:valid ~ label {
	top: -20px;
	left: 0;
	color: #000;
	font-size: 12px;
}

section.upload .wrapper form .input-group select {
	width: 100%;
	font-size: 12px;
	color: #000;
	margin-bottom: 30px;
	font-family: "ESAllianz-Regular", sans-serif;
	letter-spacing: 0rem;
}

section.upload .wrapper form .button-group {
	float: right;
	display: flex;
	gap: 20px;
}

section.upload .wrapper form button {
	font-family: "ESAllianz-Regular", sans-serif;
	width: 100px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	text-align: center;
	font-size: 14px;
}

section.upload .wrapper .message p span {
	color: blue;
	cursor: pointer;
}
