section.single-post {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	margin-top: 60px;
	padding: 0 180px;
}

@media only screen and (max-width: 992px) {
	section.single-post {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		margin-top: 60px;
		padding: 0 0;
	}
}

section.single-post .main {
	margin-right: 439px;
	padding: 30px 30px 30px 30px;
}

@media only screen and (max-width: 992px) {
	section.single-post .main {
		margin-right: 0;
		padding: 30px;
	}
}

@media only screen and (max-width: 992px) {
	section.single-post .main {
		margin-right: 0px;
	}
}

section.single-post .main .container-fluid {
	width: 100%;
	padding-inline: 0px;
}

section.single-post .main .container-fluid .heading img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
}

section.single-post .main .container-fluid .post-detail {
	justify-content: space-between;
	background-color: transparent;
	margin-bottom: 20px;
}

section.single-post .main .container-fluid .post-detail .like-comment {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-block: 10px;
	border-bottom: 1px solid #eaeaea;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .main .container-fluid .post-detail .post-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 10px;
}

section.single-post .main .container-fluid .post-detail .post-option button.share-post {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 38px;
	background-color: transparent;
	padding-inline: 14px;
	padding-block: 6px;
	border: none;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .main .container-fluid .post-detail .post-option button.comment-post {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 38px;
	background-color: transparent;
	padding-inline: 14px;
	padding-block: 6px;
	border: none;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .main .container-fluid .post-detail .post-option button.like-post {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 38px;
	background-color: transparent;
	padding-inline: 12px;
	padding-block: 6px;
	margin-right: 10px;
	background-color: transparent;
	border: none;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .main .container-fluid .post-detail .post-option .dropdown .dropdown-menu {
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

.dropdown-toggle::after {
	display: none;
}

/* sidebar */
section.single-post .sidebar {
	position: fixed;
	width: 439px;
	min-height: 100vh;
	padding-top: 30px;
	top: 60px;
	right: 180px;
	z-index: 0;
	background-color: #fff;
	border-left: 1px solid #ebedee;
}

@media only screen and (max-width: 992px) {
	section.single-post .sidebar {
		display: none;
		position: fixed;
		width: 439px;
		min-height: 100vh;
		padding-top: 60px;
		top: 0;
		right: 180px;
		z-index: 0;
		background-color: #fff;
		border-left: 1px solid #ebedee;
	}
}

section.single-post .sidebar .product-wrapper {
	margin-inline: 36px;
}

section.single-post .sidebar .product-price {
	margin-top: 0;
}

section.single-post .sidebar .product-price p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 22px;
	font-weight: 600;
	height: auto;
	line-height: 1.6;
	text-transform: uppercase;
}

section.single-post .sidebar .product-category {
	margin-top: 50px;
}

section.single-post .sidebar .product-category p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .sidebar .product-brand {
	margin-top: 6px;
}

section.single-post .sidebar .product-brand p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .sidebar .product-price span.initial-price {
	display: flex;
	float: left;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .sidebar .product-price .suggested-price {
	display: flex;
	float: right;
}

section.single-post .sidebar .product-price .suggested-price {
	display: flex;
	float: right;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
	color: #000;
}

section.single-post .sidebar .product-price .suggested-price span {
	position: relative;
	color: #000;
	padding-inline: 4px;
	margin-top: -2px;
	cursor: pointer;
}

section.single-post .sidebar .product-price .suggested-price span #tooltipText {
	position: absolute;
	width: 200px;
	left: 0;
	top: 140%;
	transform: translateX(-65%);
	background-color: #000;
	color: #fff;
	padding: 4px 6px;
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
}

section.single-post .sidebar .product-price .suggested-price span #tooltipText:before {
	content: "";
	position: absolute;
	left: 70%;
	bottom: 90%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: #0000 #0000 #000 #0000;
}

section.single-post .sidebar .product-price .suggested-price span:hover #tooltipText {
	visibility: visible;
	opacity: 1;
}

section.single-post .sidebar .product-price .col-divider {
	border-right: 1px solid #c7c7c7;
}

section.single-post .sidebar .product-option {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

section.single-post .sidebar .product-option button {
	width: 100%;
	margin-bottom: 20px;
	padding-inline: 20px;
	padding-block: 10px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
}

section.single-post .sidebar .product-owner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #eaeaea;
}

section.single-post .sidebar .product-owner .user-profile {
	display: flex;
	align-items: center;
}

section.single-post .sidebar .product-owner .user-profile .user-image img {
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

section.single-post .sidebar .product-owner .user-profile .username {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-owner .user-profile .created-at {
	font-family: "Manrope", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-owner .user-option {
	display: inline-block;
	height: 100%;
}

section.single-post .sidebar .product-owner .user-option button {
	width: 100%;
	padding-inline: 20px;
	padding-block: 4px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
}

section.single-post .sidebar .product-wrapper .product-name {
	margin-top: 40px;
}

section.single-post .sidebar .product-wrapper .product-name h1 {
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-wrapper .product-original-price p {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-wrapper .product-original-price p span {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-desc {
	margin-top: 20px;
}

section.single-post .sidebar .product-desc h2 {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .sidebar .product-desc p {
	max-height: 180px;
	overflow-y: auto;
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

/* Mobile */

section.single-post .mobile-display {
	display: none;
}

@media only screen and (max-width: 992px) {
	section.single-post .mobile-display {
		display: block;
	}
}

section.single-post .mobile-display .product-wrapper {
	margin-top: 36px;
}

section.single-post .mobile-display .product-price {
	margin-top: 0;
}

section.single-post .mobile-display .product-price p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 22px;
	font-weight: 600;
	height: auto;
	line-height: 1.6;
	text-transform: uppercase;
}

section.single-post .mobile-display .product-category {
	margin-top: 50px;
}

section.single-post .mobile-display .product-category p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .mobile-display .product-brand {
	margin-top: 6px;
}

section.single-post .mobile-display .product-brand p {
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .mobile-display .product-price span.initial-price {
	display: flex;
	float: left;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.6);
}

section.single-post .mobile-display .product-price .suggested-price {
	display: flex;
	float: right;
}

section.single-post .mobile-display .product-price .suggested-price {
	display: flex;
	float: right;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
	color: #000;
}

section.single-post .mobile-display .product-price .suggested-price span {
	position: relative;
	color: #000;
	padding-inline: 4px;
	margin-top: -2px;
	cursor: pointer;
}

section.single-post .mobile-display .product-price .suggested-price span #tooltipText {
	position: absolute;
	width: 200px;
	left: 0;
	top: 140%;
	transform: translateX(-65%);
	background-color: #000;
	color: #fff;
	padding: 4px 6px;
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
}

section.single-post .mobile-display .product-price .suggested-price span #tooltipText:before {
	content: "";
	position: absolute;
	left: 70%;
	bottom: 90%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: #0000 #0000 #000 #0000;
}

section.single-post .mobile-display .product-price .suggested-price span:hover #tooltipText {
	visibility: visible;
	opacity: 1;
}

section.single-post .mobile-display .product-price .col-divider {
	border-right: 1px solid #c7c7c7;
}

section.single-post .mobile-display .product-option {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

section.single-post .mobile-display .product-option button {
	width: 100%;
	margin-bottom: 20px;
	padding-inline: 20px;
	padding-block: 10px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
}

section.single-post .mobile-display .product-owner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #eaeaea;
}

section.single-post .mobile-display .product-owner .user-profile {
	display: flex;
	align-items: center;
}

section.single-post .mobile-display .product-owner .user-profile .user-image img {
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-radius: 100%;
	object-fit: cover;
}

section.single-post .mobile-display .product-owner .user-profile .username {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-owner .user-profile .created-at {
	font-family: "Manrope", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-owner .user-option {
	display: inline-block;
	height: 100%;
}

section.single-post .mobile-display .product-owner .user-option button {
	width: 100%;
	padding-inline: 20px;
	padding-block: 4px;
	font-family: "ESAllianz-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.6;
	text-transform: capitalize;
}

section.single-post .mobile-display .product-wrapper .product-name {
	margin-top: 40px;
}

section.single-post .mobile-display .product-wrapper .product-name h1 {
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-wrapper .product-original-price p {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-wrapper .product-original-price p span {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-desc {
	margin-top: 20px;
}

section.single-post .mobile-display .product-desc h2 {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .mobile-display .product-desc p {
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}

section.single-post .spinner-container {
	margin-top: 160px;
}

section.single-post .message p {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

section.single-post .message p span {
	color: blue;
	cursor: pointer;
}
